.input {
    display: flex;
    align-items: center;
    width : 90%;

}

.input label {
    margin-right: 1.2rem;
}

.input input {
    width: 10rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
    width : 60%;    
}