.playlists {
  margin-left : 7rem;
  display : flex;
  flex-wrap: wrap;  
}

.info {
  display: flex;
  justify-content: space-around;
}

.total{
  margin-left: 7rem;
}

.createbutton{
  margin-left: 7rem;
}