.modalTotal{
  display: flex;
  align-items: flex-end ;

}
.thumbnail{
  width : 50%;
  height: 50%;
}

.modalinfo{
  margin-left: 2rem;
  text-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end ;
}

.modaldesign{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.888);
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    height: 70%;
    border: 1px solid rgba(15, 15, 15, 0.888);
    background: rgba(15, 15, 15, 0.888);
    overflow: auto;
    outline: none;
    padding: 20px;
}
.modaltext{
  margin-top: 20px;
  display: flex;
  text-align: center;

}

.modalbutton{
  width : 80px;
  text-align: right;
  float: right;
  border-radius: 30%;
  border-radius: 10px;
  background-color: black;
  color: rgba(255, 255, 255, 0.418);
  border: 1px solid rgba(255, 255, 255, 0.418);
  text-align: center;
  z-index: 99999;
  padding: 5px;
  font-size: 1rem;
}