@font-face {
  font-family: 'MinSans-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.songTotal{
  font-family: 'MinSans-Medium';
  width : 350px;
  text-align : center;
  padding : 20px;


}

.thumbnail{
  width : 300px;
  height : 300px;
  min-width : 20px;
  margin-bottom: 20px;
  
}

.songName{
  margin-bottom: 5px;
}