* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #778298;
  flex-direction: column;

}

/* card 형식 출력 부분 CSS코드 */
.btn {
  letter-spacing: 1px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  font-size: 1.2rem;
}

.main {
  width: 90%;
  margin: 2rem auto;
}

.form-control {
  font-size: 1.2rem;
}

.main-heading {
  margin: 2rem 0;
}

.hide {
  display: none;
}

.active {
  border: 2px solid #566273;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #778298;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

.albums,
.artists,
.playlist,
.tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  box-shadow: 0 2px 7px 3px #949ca5;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 250px;
  height: 250px;
}

@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
}



/* 우리 css */
/* 헤더부분 */
.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.header-top {
  box-sizing: border-box;
  border-color: black;
  display: flex;
  margin-left : 6rem;
  color: white
}

.header-side {
  display: flex;
  margin-left: 2rem;
  padding-left: 1rem;
  float: right;
}

.header-side h2 {
  margin-left: 3rem;
  padding-top : 0.4rem;
}

/* 검색출력창 및 추가하기 버튼 CSS */
.label {
  color: white;
  font-weight: bold;
}
section {
  flex-direction:row;
}

.album_images {
  max-width: 90px;
  max-height: 900px;
}

.artist_images {
  max-width:  1000px;
  max-height: 1000px;
}
.print_line {
  display: grid;
  flex-direction:row;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 15px;
  justify-content: space-between;
  grid-template-columns: 100px 1fr 200px 85px;
  gap:10px;
  align-items: stretch;
	align-items: center;
}

.print_line_tracklist {
  display: grid;
  flex-direction:row;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 15px;
  justify-content: space-between;
  grid-template-columns: 100px 1fr 1fr 200px 90px;
  gap:10px;
  align-items: stretch;
	align-items: center;
}
.print_line_tracklist:hover {
  background-color: grey;
}

.song_name {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  text-align: center;
  margin-left: 20px;
  font-size: 15px;
  white-space: normal;
  vertical-align: middle;
}

.song_artist {
  text-align: center;
  font-size: 15px;
  margin-left: 20px;
}
.add_button {
  text-align: right;
  float: right;
  border-radius: 30%;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  text-align: center;
  z-index: 99999;
}
.add_button:active {
    border: 1px solid white;
    background-color: grey;
}

.album_name {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all;
  text-align: center;
  margin-left: 20px;
  font-size: 15px;
  white-space: normal;
  vertical-align: middle;
}
/* 검색출력창 및 추가하기 버튼 CSS 완료 */

/* 사이드바 CSS */
.label {
  color: white;
  font-weight: bold;
}

.wrap {
  display: flex;
  
}

.wrap2 {
  padding-left: 7rem;
}

.sidebar-container {
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-top:20px;
}

a {
  text-decoration: none !important;
}

.btn-body {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  color: #f8d9c0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  transition: all 0.2s ease;
  background-color: rgba(244, 187, 146,0.0);
}

.btn-body.active{
  background-color: rgba(244, 187, 146,1);
  color: #fff;
  transform: scale(1.05);
}

.btn-body:hover{
  color: #fff;
}

.btn-title {
  margin: 4px auto;
  font-weight: 600;
  font-size: 16px;
}
/* 사이드 바 완료 */

/* 정훈 playlist 연결 css 코드 */
.main-body {
  height: 100vh;
  width: 100vw;
  background-color: #e99072;
  border-color: 30px;
  display: flex;
}
.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #1e2a3e;
  border-radius: 30px;
}

/* library css 파일 */
.library-body {
  width: 94%;
  height: 90%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
}

.playlist-card {
  position: relative;
  width: 15%;
  height: 35%;
  border-radius: 20px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgba(54, 69, 98, 0.18);
  padding: 1%;
  margin-bottom: 2%;
  background: rgb(30, 42, 62);
  background: linear-gradient(
    75deg,
    rgb(40, 58, 88) 0%,
    rgba(54, 69, 98, 0) 100%
  );
  transition: all 0.2s ease;
  cursor: pointer;
}

.playlist-card:hover {
  transform: scale(1.02);
}

.playlist-card:hover .playlist-fade {
  opacity: 1;
}

.playlist-image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
}

.playlist-title {
  font-weight: 800;
  font-size: 16px;
  color: #c4d0e3;
  margin: 10px 0px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.playlist-subtitle {
  font-weight: 400;
  font-size: 12px;
  margin: 0px;
  color: #c4d0e37c;
}

.playlist-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 84%;
  height: 34%;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(54, 69, 98, 0) 10%,
    rgba(54, 69, 98, 1) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8%;
  transition: 0.5s ease;
}