* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #778298;
}

.btn {
  letter-spacing: 1px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  font-size: 1.2rem;
}

.main {
  width: 90%;
  margin: 2rem auto;
}

.form-control {
  font-size: 1.2rem;
}

.main-heading {
  margin: 2rem 0;
}

.hide {
  display: none;
}

.active {
  border: 2px solid #566273;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #778298;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

.albums,
.artists,
.playlist,
.tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  box-shadow: 0 2px 7px 3px #949ca5;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card img {
  max-width: 250px;
  height: 250px;
}

@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
}



/* 우리 css */
.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.header-top {
  box-sizing: border-box;
  border-color: black;
  display: flex;
  margin-left : 6rem;
  color: white
}

.header-side {
  display: flex;
  margin-left: 2rem;
  padding-left: 1rem;
  float: right;
}

.header-side h2 {
  margin-left: 3rem;
  padding-top : 0.4rem;
}

.Sidebar {
  position: fixed;
  /* top: 5.5rem; */
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #26262c;
  color: grey;

  margin-right: 10px;
  padding-right: 0%;
}


.sidebar-logo {
  font-size: 25px;
}

.sidebar-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 16px;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}
.sidebar-text1 {
  color: white;
}
.sidebar-items .item {
  display: flex;
  align-items: center;
  padding: 16px 8px;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.sidebar-items .item:hover {
  color:white
}

.Sidebar.collapsed {
  width: 52px;
}

.Sidebar.collapsed .sidebar-icon {
  margin-right: 0;
}

.Sidebar.collapsed .sidebar-text,
.Sidebar.collapsed .sidebar-logo,
.Sidebar.collapsed .sidebar-text1 {
  display: none;
}

/* .sidebar {
  height:100vh;
  flex:0.2;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  background-color: #040404;
} */
.sidebar:hover {
  color: white;
}

.sidebar_logo {
  margin-right: auto;
  height: 70px;
  padding: 10px;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.label {
  color: white;
  font-weight: bold;
}