@font-face {
  font-family: 'MinSans-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.total{
  margin-left: 7rem;
  font-family: 'MinSans-Medium';
  margin-top: 20px;
  background: rgba(72, 72, 72, 0.175);

}

.info{
  display: flex;
  
}

.songList{
  color : white;
  background : rgba(72, 72, 72, 0.175);

}

.albumname{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 52px;
}

.singer{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 420px;
}

